# dependencies
node_modules
*.log

# production build
dist

# local env files
.env
.env.local

# git
.git
.gitignore

# editor/project files
.vscode
.idea
*.swp
*.swo

# Mac system files
.DS_Store

# Docker-related
Dockerfile
docker-compose.yml
